{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
    <meta name="theme-color" content="#2196f3">
    <meta name="author" content="DexignZone" /> 
    <meta name="keywords" content="" /> 
    <meta name="robots" content="" /> 
    <meta name="description" content="Accident Detection Portal"/>
    <meta property="og:title" content="Accident Detection Portal" />
    <meta property="og:description" content="Accident Detection Portal" />
    <meta property="og:image" content="{% static 'assets/images/social-image.png' %}"/>
    <meta name="format-detection" content="telephone=no">
    
    <!-- Favicons Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}" />
    
    <!-- Title -->
    <title>Resident Registration Portal</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;family=Racing+Sans+One&amp;display=swap" rel="stylesheet">
</head>   

<body>
<div class="page-wraper">


    <!-- Page Content -->
    <div class="page-content">
        
        <!-- Banner -->
        <div class="gradient-bg">
            <div class="container inner-wrapper">
                <h2 class="dz-title">Sign Up</h2>
                <p class="mb-0">Create Account</p>
            </div>
        </div>
        <!-- Banner End -->
        
        <div class="container">
            <div class="account-area">
                {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <form action="{% url 'register-resident-user' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="first_name" placeholder="First Name" class="form-control" required>
                    </div>
                    <div class="input-group">
                        <input type="text" name="last_name" placeholder="Last Name" class="form-control" required>
                    </div>
                    <div class="input-group">
                        <input type="email" name="email" placeholder="Email Address" class="form-control" required>
                    </div>
                    <div class="input-group">
                        <input type="text" name="username" placeholder="Username" class="form-control" required>
                    </div>
                    <div class="input-group">
                        <input type="password" name="password1" placeholder="Password" class="form-control" required>
                    </div>
                    <div class="input-group">
                        <input type="password" name="password2" placeholder="Confirm Password" class="form-control" required>
                    </div>
                    <div class="input-group">
                        <button type="submit" class="btn mt-2 btn-light  w-100 btn-rounded" style="background-color: #F7E7CE;">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Page Content End -->
    
    <!-- Footer -->
    <footer class="footer fixed">
        <div class="container">
            <a href="{% url 'login' %}" class="btn btn-light light btn-rounded text-dark d-block" style="background-color: #F7E7CE;">Already have an account? Sign In</a>
        </div>
    </footer>
    <!-- Footer End -->
</div>

<!-- Scripts -->
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/settings.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>

<style>
    .gradient-bg {
        background: radial-gradient(circle, blue);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .gradient-bg::before {
        content: "";
        background: url("{% static 'assets/images/accident_logo.png' %}") no-repeat center center;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px; 
        height: 60px;
    }
</style>