{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block navigation %}
<div id="content-header">
    <div id="breadcrumb"> 
        <a href="{% url 'dashboard' %}" title="Go to Home" class="tip-bottom">
            <i class="icon-home"></i> Home
        </a> 
        <a href="#" class="current">Register New User</a> 
    </div>
    <h1>Register New User</h1>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-user"></i></span> 
                    <h5>User Information</h5>
                </div>
                <div class="widget-content">
                    <form action="{% url 'register-user' %}" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="control-group">
                            {{ form|crispy }}
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Create User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
