.dashboard-container {
    margin-left: 20px;
}

.user-message {
  background-color: #d1e7dd;
  color: #0f5132;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  text-align: left;

  align-self: flex-start;
}

.bot-response {
  background-color: #aecef1;
  color: #2f0884;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  text-align: left;
  /* max-width: 70%; */
  align-self: flex-end;
}

.dashboard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #7aaada;
    border-bottom: 1px solid #dee2e6;
}