{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Password Reset Complete</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-responsive.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/maruti-login.css' %}" />
</head>
<body>
    <div id="loginbox">            
        <div class="form-vertical">
            <div class="text-center"> 
                <h4><img src="{% static 'assets/img/city_logo.jpg' %}" alt="Logo" style="max-width: 150px;" /></h4>
            </div>
            <div class="alert alert-success">
                Password reset completed successfully.
            </div>
            <div class="form-actions">
                <span class="pull-left"><a href="{% url 'login-user' %}" class="btn btn-inverse">Back to Login</a></span>
            </div>
        </div>
    </div>
    
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>  
    <script src="{% static 'assets/js/maruti.login.js' %}"></script> 
</body>

</html>
